<!DOCTYPE html>

<html>
    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <title> {% block title %}{% endblock %}  </title>
        {% block css_files %} {% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock %}
        <script src="" async defer></script>
    </body>
</html>